* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif !important;
    /* font-family: 'PT Serif', serif; */
}

ul {
    list-style: none;
}

.header {
    height: 70vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('../shopping\ cart/assests/header.webp');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
}

.header h3 {
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

.product-list {
    display: flex;
}

.productcard {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 10px 80px;
    margin: 10px;
    text-align: center;
    background-color: white;
    position: relative;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productcard:hover {
    transform: scale(1.05);
}

.productcard img {
    height: 300px;
    width: 100%;
}

.productcard h3 {
    margin: 20px 0px;
}

.addItem {
    width: 150px;
    background-color: white;
    color: black;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px;
}

.addItem:hover {
    color: white;
    background-color: black;
}

.mobile {
    background: aliceblue;
    padding: 50px 10px 10px 10px;
}

.mobile-head {
    text-align: center;
    font-family: 'Open Sans', sans-serif !important;
    margin-bottom: 50px;
}

.mobile-head h2 {
    font-weight: 700;
    margin-bottom: 30px; 
}

.mobile-head h3 {
    font-style: italic;
    font-size: 50px;
    letter-spacing: 5px;
    word-spacing: 33px;
    font-weight: 700;
}

.card-footer {
    background-color: white;
    border: none;
    position: absolute;
    bottom: 35px;
    padding: 0;
}

.productcard .card-body h4 {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px;
}

.productcard .card-body p {
    font-weight: 700;
}

.product-price {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* #imgcopy img {
    width: 100px;
    height: 100px;
} */

.cart {
    padding: 10px;
    margin: 10px 0;
    height: 500px;
}

.cart h2 {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.cartItemsDisplayHead {
    display: flex;
    gap: 50px;
    align-items: center;
    width: 100%;
}

.cartItemsDisplay {
    display: flex;
    gap: 50px;
    align-items: center;
    width: 100%;
}

.cartItemsDisplayHead span {
    font-size: 20px;
    font-weight: 800;
}

.cartItemsDisplay span {
    font-size: 20px;
    font-weight: 800;
}

.cartTotal {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
}

.cartTotal h4 {
    font-size: 25px;
    font-weight: 800;
    margin: 0;
}

.cartTotal span {
    font-size: 25px;
    font-weight: 800;
    margin: 0;
}

.cartItemsSelected {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cartProductDisplay {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-left: 20px;
    gap: 20px;
}

.cartItem {
    width: 23%;
    padding: 20px;
}

.cartPrice {
    width: 15%;
    padding: 20px;
}

.cartQuantity {
    display: flex;
    gap: 60px;
    width: 30%;
}

.cartPrdouctImage {
    height: 100px;
    width: 100px;
}

.cartProductPrice {
    width: 13%;
}

.cartProductQuantity {
    width: 65px;
    text-align: center;
    padding: 5px 5px 5px 15px;
}

.btn-danger:hover i {
    animation: shaking 0.4s infinite;
    font-size: 25px;
}

@keyframes shaking {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    70% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}